# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Environment variables / secrets
.env

# Logs
logs/
*.log

# VS Code
.vscode/

# Operating system files
.DS_Store
Thumbs.db